<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.1.xsd">
	<context:annotation-config/>
	<context:component-scan base-package="com.sist.*">
	    <context:exclude-filter type="regex" expression=".*VO"/>
	</context:component-scan>
	<!-- 							 클래스 찾기(DL) getBean() (2)
		client ======= DispatcherServley <=======> HnadlerMapping(해당  Model찾기 )
			   input.do(1)                 기능수행(메드 호출) (3) ==> request에 결과값을 담는다.
			   							  ====> request를 jsp에 전송
			   							  		ViewResolver를 통해서 JSP를 찾고
			   							  		============(JSP의 위치, 확장자)
			   							  		request를 전송 ===> forward 
			   
	 -->
	 <bean id="viewResolver"
	       class="org.springframework.web.servlet.view.InternalResourceViewResolver"
	       p:prefix="/main/"
	       p:suffix=".jsp"
	       />
</beans>
